@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

/*----------------------------Configurações do header----------------------------*/ 

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

/*-----------------------------Configurações de links --------------------------*/ 

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

/* ---------------Configurações da parte principal do site------------------------*/ 

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;

    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.25);
    width: 400px;
}

/*------------------------ Configurações do footer ---------------------- */

footer {
    padding: 10px;

    background-color: black;
    color: white;
    text-align: center;
}